@import "tailwindcss";

@font-face {
  font-family: 'Geonms';
  src: url('/NMSFuturaProBook_Kerned.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Geonms', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Geonms', ui-monospace, SFMono-Regular, monospace;
}

:root {
  --font-sans: 'Geonms', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Geonms', ui-monospace, SFMono-Regular, monospace;
}

* {
  font-family: 'Geonms', 'Inter', ui-sans-serif, system-ui, sans-serif !important;
}
